<div class="p-2 mb-2">
  <!-- Logo + Title -->
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <svg width="42" height="79" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="79" height="79" fill="url(#pattern0)" />
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_10_71" transform="scale(0.02)" />
          </pattern>
          <image id="image0_10_71" width="50" height="50"
            xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABHklEQVR4nO2ZPQrCQBBGczBBcCcHiGJnoaewSRnruZIWblYbfwrBM2whNir4MxJbZUlkN1H4Hkyb4TF51UYR+FPyTmfcxETeRZSSVZJctv3+qY5ZJcml2BlExKapnJlrGZumAhEXuAjj1xI04gKNMBoRNOICjTAaETTiAo0wGhE04gKNMBoRNOICjTAaETTiAo0wGhE04gKNMBoRNBKikUOWveZvX6yOk4nsh8NrrtRDK/XYDQa3KkK2aZGXwGh0KwQM0VIrRTlRy8TxtIqQbUrkk8DbNyoI2bpFygh8I2TrEvlGoIqQDS3iQ6CMkA0psun17sUyE8daE7V979BEbUM0L3asu917MBFDtPBxgVIXIpoFEQlxgV/cCSJPPAFiMHdoepysxwAAAABJRU5ErkJggg==" />
        </defs>
      </svg>
      <h1 class="text-2xl ml-2">Title</h1>
    </div>
    <!-- Menu -->
    <div class="flex items-center">
      <a class="text-gray-600 hover:text-gray-800 text-lg mx-3" href="#">Home</a>
      <!-- Posts -->
      <a class="text-gray-600 hover:text-gray-800 text-lg mx-3" href="#">Posts</a>
      <a class="text-gray-600 hover:text-gray-800 text-lg mx-3" href="#">About</a>
      <a class="text-gray-600 hover:text-gray-800 text-lg mx-3" href="#">Contact</a>
    </div>
    <div class="flex items-center">
      <a class="bg-[#F86161] text-white hover:bg-[#d04444] px-3 py-2 rounded-md text-sm font-medium mx-3"
        href="#">Subscribe</a>
    </div>
  </div>
