<div class="p-2  flex gap-2 rounded-lg h-26">
  <div class="p-4 bg-gray-400 rounded-lg">
    <img class="w-32 object-cover rounded-lg" alt="">
  </div>
  <div class="flex flex-col gap-2 p-4 ">
    <div class="flex items-center gap-2">
      <div class="bg-black text-white p-2 text-sm rounded-2xl">Categoria</div>
      <p class="text-gray-700">3 min to read</p>
    </div>
    <p class="font-bold text-2xl">Titulo</p>
    <p class="text-sm">By: autor</p>
    <p class="text-gray-600 text-sm">20 jan 2024</p>
  </div>
</div>
